<div class="jumbotron">
    <div class="row" style="margin-bottom:1%;">
            <div class="col-sm-6 text-center">
                <b>Nombre</b>
            </div>
            <div class="col-sm-6 text-center">
                <b>Votos</b>
            </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users | orderBy:'score':true">
            <div class="row">
                <div class="col-sm-6 text-left user">
                    {{user._id | capitalize}}
                </div>
                <div class="col-sm-6 text-center">
                    {{user.score}}
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group" ng-show="!users.length">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6 text-left user">
                   -
                </div>
                <div class="col-sm-6 text-center">
                   -
                </div>
            </div>
        </li>
    </ul>
</div>